@font-face {
  font-family: Inter;
  src: url("./assets/Inter-3.15/Inter\ Web/Inter-Black.woff");
}

body {
  background-color: #000;
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.main-container {
  font-family: Inter;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 8vw;
  font-weight: 900;
  background-color: #000;
  color: #fff;
  display: block;
  padding: 0.3em 0.3em 0 0.3em;
}

h1:nth-child(2) {
  position: absolute;
  background-color: #fff;
  color: #000;
  clip-path: inset(-1% -1% 50% -1%);
}

.form_input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  display: block;
  border-bottom: 0.3rem solid transparent;
  border-top: 0.3rem solid transparent;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.search-button {
  background-color: transparent;
  border: none;
  margin: 3px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  margin: 1rem;
  background-color: whitesmoke;
  overflow: hidden;
  /* display: flex; */
  position: relative;
  /* flex-direction: column; */
  /* align-items: center; */
  width: 250px;
}

.card-image {
  left: 0;
  top: 0;
  max-width: 100%;
  height: auto;
}

.card-content {
  padding-left: 10px;
  padding-right: 10px;
}

.card-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.card-over {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  padding: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-over {
  transform: translateY(0%);
}
